<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>airband</string>
  <key>CFBundleDisplayName</key>
  <string>airband</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>airband sends your instrument or voice to the other players in your jam.</string>
  <key>NSCameraUsageDescription</key>
  <string>airband shows your video to the other players in your jam.</string>
</dict>
</plist>
